<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  
  <mapper namespace="show.dao.face.MyPageDao">
  
  	<select id="selectBookList" parameterType="String" resultType="show.dto.TB_BOOK">
		SELECT DISTINCT S.SHOW_NAME, B.show_id ,B.book_date,S.SHOW_IMAGE  FROM TB_BOOK B, TB_SHOW S
		WHERE B.MEMBER_ID=#{member_id} AND B.SHOW_ID=S.SHOW_ID
		ORDER BY S.SHOW_NAME, B.show_id,S.SHOW_IMAGE, B.book_date DESC  	
	</select>
  
	<select id="selectBookDetail" parameterType="show.dto.TB_BOOK" resultType="show.dto.TB_BOOK">
	  	SELECT * FROM TB_BOOK  
	  	WHERE MEMBER_ID=#{member_id} AND SHOW_ID=#{show_id} AND BOOK_DATE=TO_DATE(#{book_date},'yyyy/MM/dd')
	</select>
  
  
  	<select id="selectMember" parameterType="String" resultType="show.dto.Member">
  		SELECT * FROM TB_MEMBER
  		WHERE MEMBER_ID =#{member_id}
  	</select>
  
  </mapper>